<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" />

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>adituu.dev</title>
</head>

<body>
    <div class="title">
        <h2>adituu.dev</h2>
    </div>

    <div class="container">
        <h3><i class="fa fa-phone-square" aria-hidden="true"></i> - Contact</h3>
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="mailto:adriang11@tutanota.com">adriang11@tutanota.com</a>
            <br />
            <i class="fa fa-discord" aria-hidden="true"></i> Discord: notRat#2022
            <br />
            <i class="fa fa-telegram" aria-hidden="true"></i> Telegram: <a href="https://t.me/acyb01">https://t.me/acyb01</a>
            <br />
            <i class="fa fa-github-square" aria-hidden="true"></i> Github: <a href="https://github.com/Adituu">https://github.com/Adituu</a>
        </p>

        <h3><i class="fa fa-github" aria-hidden="true"></i> - Own projects</h3>
        <p>
            <i class="fa fa-picture-o" aria-hidden="true"></i> unix-media: <a href="https://unix-media.us">unix-media.us</a>
            <br />
            <i class="fa fa-android" aria-hidden="true"></i> unix-media API: <a href="https://api.unix-media.us">api.unix-media.us</a>
        </p>

        <h3><i class="fa fa-cog" aria-hidden="true"></i> - Programming languages</h3>
        <p>
            <i class="fa fa-python" aria-hidden="true"></i> Python (Advanced)
            <br />
            <i class="fa fa-nodejs" aria-hidden="true"></i> Javascript (Beginner)
        </p>
    </div>

    <footer>
        <p>
            Copyright &#169; {{ year }} by <a href="https://github.com/Adituu">Adituu</a>
        </p>
    </footer>
</body>

</html>
